<div class="global-list__tabs-wrapper">
  <ul class="tabs  tabs--right  list">
    <li class="tabs__item">
      <button class="tabs__btn tabs__btn--current">All</button>
    </li>
    <li class="tabs__item">
      <button class="tabs__btn">Urgent</button>
    </li>
    <li class="tabs__item">
      <button class="tabs__btn">High</button>
    </li>
    <li class="tabs__item">
      <button class="tabs__btn">Middle</button>
    </li>
    <li class="tabs__item">
      <button class="tabs__btn">Low</button>
    </li>
  </ul>
</div>

{{#each this}}
{{#if this.length}}
{{log @key}}
<ul class="task-list  task-list--categorized task-list--categorized-{{getCategory @key}} task-list--{{getCategory @key}} list">
  <div class="task-list__decorative-line">
    <div class="task-list__decorative-circle">
      <div class="task-list__decorative-inner-circle"></div>
    </div>
  </div>
  <h3 class="task-list__heading task-list__heading--{{getCategory @key}}">{{getCategory @key}}</h3>
  {{#each this}}
  <li class="task-card task-card--{{getCategory this.categoryId}} task-card--{{getPriority this.priority}} task-card--no-border">
    <section class="task-card__delete-indicator"></section>
    <section class="task-card__date">Today</section>
    <section class="task-card__task-info">
      <h3 class="task-card__task-name">{{this.title}}</h3>
      <p class="tasc-card__task-description">{{this.description}}</p>
    </section>
    <section class="task-card__buttons">
      <section class="task-card__task-adjustsments">
        <button class="task-card__button task-card__button--to-daily"></button>
        <button class="task-card__button task-card__button--edit modal-button" data-modal-action="modal-open-edit"></button>
      </section>
      <a href='/timer' class="task-card__start link"></a>
    </section>
  </li>
  {{/each}}
</ul>
{{/if}}
{{/each}}